 load static %nds 'Shop/base.html' %}
 {% load static %}
 {% blockbase.html' %}
 {% load static %}
 {% block title %}B %}
 {% load static %}
 {% block title %}Buy Now{% ed static %}
 {% block title %}Buy Now{% endblock ti}
 {% block title %}Buy Now{% endblock title %}
 {%  title %}Buy Now{% endblock title %}
 {% block mainuy Now{% endblock title %}
 {% block main-content %ndblock title %}
 {% block main-content %}
 <div clatle %}
 {% block main-content %}
 <div class="contaiblock main-content %}
 <div class="container my-5">